langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
PyMuPDF
wikipedia
langchain-text-splitters
chromadb
langchain-ollama
sentence_transformers
langchain-huggingface
faiss-cpu
langchain_chroma
langchain-classic
langchain_groq
uvicorn
fastapi
langserve
sse_starlette
langgraph
torchvision
ddgs
streamlit
